<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="glyphicon glyphicon-list"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="glyphicon glyphicon-remove"></i></a>
        <li class="sidebar-brand">
            <a href="#top"  onclick = $("#menu-close").click(); >Start Bootstrap</a>
        </li>
        <li>
            <a href="#top" onclick = $("#menu-close").click(); >Home</a>
        </li>
        <li>
            <a href="#about" onclick = $("#menu-close").click(); >About</a>
        </li>
        <li>
            <a href="#services" onclick = $("#menu-close").click(); >Services</a>
        </li>
        <li>
            <a href="#portfolio" onclick = $("#menu-close").click(); >Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>정유철</h1>
        <h3 style="color: #FFFFFF;">통계학과 학생 & 크럼프 댄서</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>안녕하세요! 같은 수업을 듣게 되어서 반갑습니다!</h2>
                <p class="lead" style="color: #A7A7A7;">개발할 줄 아는 통계학자가 꿈이면서 스트릿댄스가 취미인 사람입니다</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>My Major & Academic Interests</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <i class="large material-icons" style="font-size: 8em;">equalizer</i>
                            <h4>
                                <strong>통계학</strong>
                            </h4>
                            <p>12년도에 수리통계학부로 입학, 13년도에 통계학과로 전공 선택. 이후 고난과 역경의 시간을 보내고 있음</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <i class="large material-icons" style="font-size: 8em;">computer</i>
                            <h4>
                                <strong>컴퓨터</strong>
                            </h4>
                            <p>13년도 2학기부터 컴퓨터공학과 부전공을 신청함. 이후 고난과 역경의 시간을 보내고 있음</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <i class="large material-icons" style="font-size: 8em;">access_time</i>
                            <h4>
                                <strong>시계열 분석</strong>
                            </h4>
                            <p>시간의 흐름에 따라 관측되는 자료<span style="color: #D2D2D2">(예: 기온, 주가 등..)</span>를 분석하는 통계학 분야. 수업을 들을 때는 세상 모든 것을 예측할 수 있을 줄 알았지만 시계열 연구실 인턴 이후로 할 수 있는게 얼마 없다는 것을 깨닫게 됨</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <i class="large material-icons" style="font-size: 8em;">assessment</i>
                        </span>
                            <h4>
                                <strong>데이터 마이닝</strong>
                            </h4>
                            <p>빅데이터 분석, 머신러닝, 마켓팅을 위한 분석 등.. 광범위한 영역을 포함하는 분석 방법론. 최근 데이터 분석에 대한 수요가 증가하면서 주목받고 있다.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1>Introduce</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Dancer life</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card_wrapper">
                          <div class="my_card">
                            <img src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10367696_559623684154825_413444169666451645_n.jpg?oh=2a14fb3de237cf22fc4eb975187a243f&oe=5660617F">
                          </div>
                          <div class="card_text">
                            <h3>남산에서 버스킹 하고나서</h3>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card_wrapper">
                          <div class="my_card">
                            <img src="https://scontent-nrt1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/1235026_426967470753781_1891966344_n.jpg?oh=2a1c5bbf7018c3da429bb61412602253&oe=566B3EE3">
                          </div>
                          <div class="card_text">
                            <h3>동갑내기 스승, 우리나라 최고 크럼퍼 럼블러와 함께</h3>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card_wrapper">
                          <div class="my_card">
                            <img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xat1/v/t1.0-9/943737_368239799959882_1428790288_n.jpg?oh=38e308030ddc51e4c3387ecd2056f2b8&oe=5661E48B&__gda__=1450158790_e61bde9b31eec203e5b205c4b9ac5b54">
                          </div>
                          <div class="card_text">
                            <h3>Union 공연에서</h3>
                          </div>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="card_wrapper">
                          <div class="my_card">
                            <img src="https://fbcdn-photos-b-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-0/p206x206/1176222_426967387420456_1061077670_n.jpg?oh=3c8c9438cbc4c8237add8cd706ad2c41&oe=5699095F&__gda__=1453161826_f83ff67ae33df3f7c285c14444fb80e5">
                          </div>
                          <div class="card_text">
                            <h3>한국 최초 크럼퍼 몬스터우와 함께</h3>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Contact & My Home</h3>
                <a href="https://www.facebook.com/yucheol.jung.5" class="btn btn-lg btn-light" target="_blank">Facebook</a>
            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<div id="contact"></div>
<div id="map" class="map">
</div>

<!-- Custom Theme JavaScript -->
<script>
// Closes the sidebar menu
$("#menu-close").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#sidebar-wrapper").toggleClass("active");
});
// Scrolls to the selected menu item on the page
$(function() {
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
});
</script>

<script>
function initAutocomplete() {
  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 37.5485375, lng: 126.93742129999998},
    zoom: 13,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var marker
  
  marker = new google.maps.Marker({
    position: new google.maps.LatLng(37.5485375, 126.93742129999998),
    map: map
  });
  
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete" async defer></script>